<footer class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 social-icons">
        <a href="https://fb.me/shishukunjmun">
          <i class="icon-facebook"></i>
        </a>
        <a href="https://instagram.com/shishukunjmun">
          <i class="icon-instagram"></i>
        </a>
        <a href="http://yt.vu/+shishukunjmun">
          <i class="icon-youtube"></i>
        </a>
      </div>
      <div class="col-12 pt-3 text-center">
        <span class="text-small">Copyright &copy; 2015-2018 Shishukunj MUN.</span>
        <ul class="list-inline m-2">
          <li class="list-inline-item">
            <a href="#">2015 Archives</a>
          </li>
          <li class="list-inline-item">
            <a href="#">2016 Archives</a>
          </li>
          <li class="list-inline-item">
            <a href="#">2017 Archives</a>
          </li>
        </ul>
        <span class="text-small">Site design by
          <a href="https://fb.com/seshaljain">Seshal Jain</a>
        </span>
      </div>
    </div>
  </div>
  </div>
</footer>
