<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="navbar">
  <a class="navbar-brand" href="/">
    <img src="/assets/images/shishukunjmun-logo.png" alt="Shishukunj MUN 2018" height="40">
    <span class="pl-2" style="color: #000">{{ .Site.Title }}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/about/shishukunj-mun/">Shishukunj MUN</a>
          <a class="dropdown-item" href="/about/secretariat/">Secretariat</a>
          <a class="dropdown-item" href="/about/school/">Host School</a>
          <a class="dropdown-item" href="/about/mun-world/">MUN World India</a>
          <a class="dropdown-item" href="/about/un4mun/">UN4MUN Procedure</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Committees</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item dropdown-section-header" href="/committees/ga/">General Assembly</a>
          <a class="dropdown-item" href="/committees/ga/specpol/">GA-4 SPECPOL</a>
          <a class="dropdown-item" href="/committees/ga/ecofin/">GA-2 ECOFIN</a>
          <a class="dropdown-item" href="/committees/ga/legal/">GA-6 Legal</a>
          <a class="dropdown-item dropdown-section-header" href="/committees/ecosoc/">ECOSOC</a>
          <a class="dropdown-item" href="/committees/ecosoc/copuos/">UNCOPUOS</a>
          <a class="dropdown-item" href="/committees/ecosoc/unep/">UNEP</a>
          <a class="dropdown-item" href="/committees/ecosoc/unodc/">UNODC</a>
          <a class="dropdown-item dropdown-section-header" href="/committees/sa/">Specialized Agencies</a>
          <a class="dropdown-item" href="/committees/sa/unsc/">UNSC</a>
          <a class="dropdown-item" href="/committees/sa/pca/">PCA, 1999</a>
          <a class="dropdown-item" href="/committees/sa/porc/">PORC, 2018</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/evolve/">EVOLVE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact/">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
