<div class="row text-center">
  <div class="col-8 offset-2 col-md-4 offset-md-4 offset">
    <div class="secretariat-headshot">
      <img src="/assets/images/people/{{ .Site.Data.secretariat.secgen.img }}" alt="{{ .Site.Data.secretariat.secgen.post }} - {{ .Site.Data.secretariat.secgen.name }}"
        data-toggle="modal" data-target="#secgen">
    </div>
    <strong>{{ .Site.Data.secretariat.secgen.name }}</strong>
    <hr class="headshot-separator" class="headshot-separator">
    <span>{{ .Site.Data.secretariat.secgen.post }}</span>
  </div>
</div>

<div class="row text-center">
  {{ range sort .Site.Data.secretariat.one }} {{ $curr := . }}
  <div class="col-8 offset-2 col-md-4 offset-md-0">
    <div class="secretariat-headshot">
      <img src="/assets/images/people/{{ $curr.img }}" alt="{{ $curr.post }} - {{ $curr.name }}" data-toggle="modal" data-target="#{{ $curr.id }}">
    </div>
    <strong>{{ $curr.name }}</strong>
    <hr class="headshot-separator">
    <span>{{ $curr.post }}</span>
  </div>
  {{ end }}
</div>

<div class="row text-center">
  {{ range sort .Site.Data.secretariat.two }} {{ $curr := . }}
  <div class="col-8 offset-2 col-md-4 offset-md-0">
    <div class="secretariat-headshot">
      <img src="/assets/images/people/{{ $curr.img }}" alt="{{ $curr.post }} - {{ $curr.name }}" data-toggle="modal" data-target="#{{ $curr.id }}">
    </div>
    <strong>{{ $curr.name }}</strong>
    <hr class="headshot-separator">
    <span>{{ $curr.post }}</span>
  </div>
  {{ end }}
</div>

<div class="row text-center">
  <div class="col-8 offset-2 col-md-4 offset-md-2">
    <div class="secretariat-headshot">
      {{ $curr := .Site.Data.secretariat.three }}
      <img src="/assets/images/people/{{ $curr.comm.img }}" alt="{{ $curr.comm.post }} - {{ $curr.comm.name }}" data-toggle="modal"
        data-target="#{{ $curr.comm.id }}">
    </div>
    <strong>{{ $curr.comm.name }}</strong>
    <hr class="headshot-separator">
    <span>{{ $curr.comm.post }} {{ $curr.Term }} </span>
  </div>
  <div class="col-8 offset-2 col-md-4 offset-md-0">
    <div class="secretariat-headshot">
      <img src="/assets/images/people/{{ $curr.pr.img }}" alt="{{ $curr.pr.post }} - {{ $curr.pr.name }}" data-toggle="modal" data-target="#{{ $curr.pr.id }}">
    </div>
    <strong>{{ $curr.pr.name }}</strong>
    <hr class="headshot-separator">
    <span>{{ $curr.pr.post }}</span>
  </div>
</div>


<!-- Generate the Modals -->
<div class="modal secretariat-modal fade" id="secgen" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-headshot">
          <img src="/assets/images/people/kd.png" class="img-fluid" alt="">
        </div>
        <h2 class="text-center mt-3">{{ .Site.Data.secretariat.secgen.name }}</h2>
        <h4 class="text-center">{{ .Site.Data.secretariat.secgen.post }}</h4>
        <p>{{- .Site.Data.secretariat.secgen.desc | markdownify -}}</p>
      </div>
    </div>
  </div>
</div>

{{ range sort .Site.Data.secretariat.one }} {{ $this := . }}
<div class="modal secretariat-modal fade" id="{{ $this.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-headshot">
          <img src="/assets/images/people/{{ $this.img }}" class="img-fluid" alt="">
        </div>
        <h2 class="text-center mt-3">{{ $this.name }}</h2>
        <h4 class="text-center">{{ $this.post }}</h4>
        <p>{{ $this.desc | markdownify }}</p>
      </div>
    </div>
  </div>
</div>
{{ end }} {{ range sort .Site.Data.secretariat.two }} {{ $this := . }}
<div class="modal secretariat-modal fade" id="{{ $this.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-headshot">
          <img src="/assets/images/people/{{ $this.img }}" class="img-fluid" alt="">
        </div>
        <h2 class="text-center mt-3">{{ $this.name }}</h2>
        <h4 class="text-center">{{ $this.post }}</h4>
        <p>{{ $this.desc | markdownify }}</p>
      </div>
    </div>
  </div>
</div>
{{ end }}

<div class="modal secretariat-modal fade" id="{{ $curr.comm.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-headshot">
          <img src="/assets/images/people/{{ $curr.comm.img }}" class="img-fluid" alt="">
        </div>
        <h2 class="text-center mt-3">{{ $curr.comm.name }}</h2>
        <h4 class="text-center">{{ $curr.comm.post }}</h4>
        <p>{{ $curr.comm.desc | markdownify }}</p>
      </div>
    </div>
  </div>
</div>

<div class="modal secretariat-modal fade" id="{{ $curr.pr.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-headshot">
          <img src="/assets/images/people/{{ $curr.pr.img }}" class="img-fluid" alt="">
        </div>
        <h2 class="text-center mt-3">{{ $curr.pr.name }}</h2>
        <h4 class="text-center">{{ $curr.pr.post }}</h4>
        <p>{{ $curr.pr.desc | markdownify }}</p>
      </div>
    </div>
  </div>
</div>
