.sidebar {
    ul {
        padding-left: 0;
        list-style-type: square;
    }
    li {
      padding-top: 0.25rem;
    }
    p {
      text-align: left;
    }
    h5 {
      text-transform: uppercase;
      &:not(:first-child){
        margin-top: $spacer * 2;
      }
    }
    img {
      max-width: 324px;
    }
}

hr.gradient-separator {
  margin: 0;
  border: 0;
  height: 2px;
  background: black;
  background: linear-gradient(to right, $primary, $teal);
}

@media screen and (max-width: map-get($grid-breakpoints, "lg")) {
  .sidebar {
    padding-top: map-get($spacers, 5)
  }
}
