<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>
  {{ partial "navbar.html" . }}

  <header class="committee-header" style="background-image: url('/assets/images/{{ .Params.image }}')">
    <div class="container">
      <h1>{{ .Params.title }}</h1>
      {{ if .Params.agenda }}
      <h5>{{ .Params.agenda }}</h5>
      {{ end }}
      <hr>
    </div>
  </header>

  <main class="my-5">
    <div class="container">
      <div class="row">
        <div class="col">
          {{ .Content }}
        </div>
        {{ partial "sidebar.html" . }}
      </div>
    </div>
  </main>

  {{ partial "footer.html" }}


  <!-- Javascript -->
  <script src="/assets/js/script.js"></script>
</body>

</html>
